<%- include("./portials/head") -%>

<div class="text-center center-div" id="login">
  <div class="container w-25 border py-5">
    <div class="title">
      <h2 style="color: white" class="font-weight-bold">Login Successful</h2>
      <a href="/route/logout">Log Out</a>
    </div>
  </div>
</div>

<%- include("./portials/footer") -%>
